[submodule "submodules/bearssl"]
	path = submodules/bearssl
	url = https://www.bearssl.org/git/BearSSL
[submodule "submodules/jsoncpp"]
	path = submodules/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
